{% extends "forms.html" %}

{% block content %}

    <div>
        <form style="margin-left: 40%;
                     margin-top: 10%">
            <label style="margin-right: 32px"> Name:</label><input type="text" placeholder="name"><br>
            <label style="margin-right: 40px">Mail:</label><input type="email" placeholder="email"><br>
            <label style="margin-right: 5px">  Password:</label>    <input type="password" placeholder="password"><br>
            <br>
            <button>Enter</button>
        </form>
        <h1 align="center"> Возьми скриншот досовского окна.</h1>
        <h1 align="center"> Вырежи пространства для полей ввода.</h1>
    </div>
{% endblock %}