{% extends "forms.html" %}

{% block content %}

    <div>
        <form style="margin-left: 40%;
                     margin-top: 15%" method="POST" action="">
            <label style="margin-right: 31px">Name:</label>
            <input type="text"
                   placeholder="name"
                   name="name"
                   value="username"><br>

            <label style="margin-right: 8px">Password:</label>
            <input type="password"
                   placeholder="password"><br>

            <label style="margin-right: 16px">Confirm:</label>
            <input type="password"
                   placeholder="repeate youre password"><br>
            <br>
            <button style="margin-left: 100px; color: green">Enter</button>
        </form>
    </div>

{% endblock %}